body{


	min-width: 960px;
}


.container{
	width: 900px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px auto;	
}

.main-header h1{

	color: grey;
}

.line{
   
	height: 1px;	
	background-color: grey;
}


.main-section{

	margin: 40px;
}
.user{


}


.contact-form{
	background-color: #BC8F8F;
padding: 100px;
padding-top: 25px;
padding-bottom:25px;

}

.contact-form h2{

text-align: center;
color: black;


}

.contact-form label{
display: block;
text-align: center;
font-weight: bold;
}


.contact-form input {
margin: auto;
display: block;
width: 500px;
margin-top: 20px; 
margin-bottom: 20px; 

}
.contact-form input[type="submit"]{
	width: 70px;
	margin: auto;
	padding: 10px;
	background-color: #00BFFF;
	color: white;
}

.main-footer{
margin-top: 150px;

}

.item{
	 margin-top: 15px;
	 margin-left: 15px;
	 margin-right: 10px;  
	background-color:  #00BFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 15px;
	margin-left: 10px;

}
.link{
 text-decoration: none;
border: 1px solid black;
background-color: white;
color:black;
padding: 8px;
cursor: pointer;
margin-left: 10px;
margin-right: 5px;

}

.delete_item {
    background-color: red;
	color:white;
	padding: 10px;
	margin-left: 5px;
}